.contacts-list {

}

.contacts-list-header {
    float:left;
    width:100%
}

.contacts-list-header h1 {
    width: 60%;
    float:left;
}

.contacts-list-header .contact-search {
    width: 20%;
    float:right;
}